<!-- add_a_page.html -->

{% extends "layout.html" %}

{% block title %}WikiStack - Add page{% endblock %}

{% block content %}
<!-- <div id="page_content">
	<h1>Add a page</h1>	
	<hr>	
	<br><br>
	<h3>Page title</h3>
		<form action ='/add/submit' method='post'>
			<input type="text" name="post_title" class="form-control" placeholder="Page title">
	<br><br>	
	<h3>Page content</h3>

			<input type="textarea" name="post_text" class="form-control" rows="10">
	
	<br>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
</div> -->
<div id="bootstrapForm">
  <form action ='/add/submit' method='post' role="form">
    <div class="form-group">
      <label for="title"><h3>Page Title</h3></label>
      <input type="text" name="post_title" class="form-control" placeholder="Title" required>
    </div>
    <div class="form-group">
      <label for="textArea"><h3>Page Content</h3></label>
      <textarea class="form-control" name="post_text"  rows="10" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}

